
/*boilerplate stuff*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
	margin: 50px;
	text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}
hr {
	width: 75%;
}
/*style logo*/
.logo {
  /*display: block;*/
  /*margin: auto;*/
  width: 50px;
  position: relative;
  left: 7px;
  margin-top: 7px;
}
table {
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/*table, th {
    text-align: center;
}*/
table, td {
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  border-collapse: collapse;
}
th {
    border: 1px solid #E6E6E6;
    /*border: none;*/
    border-collapse: collapse;
    font-size: 14px;
    font-weight: lighter;
    color: #4A4A4A;
    text-transform: uppercase;
    padding: 15px;
    background-color: hsla(240, 50%, 80%, .1);
}
td {
	padding: 20px;
}
.dataHighlight td:hover {
    /*background-color: #F5F8FC; */
    background-color: hsla(240, 50%, 80%, .1);
}
.rowHighlight tr:hover:not(.header) {
  background-color: hsla(240, 50%, 80%, .1);
}
footer {
  height: 150px;
  margin: 0 auto;
  text-align: center;
}
.morphology {
    text-align: center;
    padding: 1px;
}
.parseBox {
    border: none;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.3);
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}
#lowercaseHead {
    text-transform: lowercase;
}
/*as soon as the offset between the .sticky-hero__media and the viewport is zero (top: 0), make the element fixed.*/
.hero {
    position: sticky;
    top: 0;    
    height: 6px;
    background-color: #0091e6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230091e6' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");  
} 


/*opening headline and paragraph styling*/
/*opener div*/
.opener {
    width: 700px;
    margin: 0 auto;
    margin-top: 0px;	
}
/*opening headline style*/
.tk-futura-pt {
    font-family: "futura-pt",sans-serif;
}
.opener-headline {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 46px;
    letter-spacing: 1px;
     /*text-transform: none; */
    margin-top: 15px; /*from 90*/
}
/*opening subtitle styling*/
.opener-sub {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6em;
    text-transform: uppercase;
    width: 417px;
    margin: 0 auto;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: #0091e6;
}
/*regular prose in opener styling*/
.opener-prose-container {
    width: 640px;
    margin: 0 auto;
    margin-top: 40px;
}
.opener-prose {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8em;
    margin-bottom: 30px;
}
@media (max-width: 480px)
.opener-prose-container {
    margin-top: 22px;
    width: 100%;
}
/*make it mobile friendly*/
@media (max-width: 480px)
.opener-headline {
    font-size: 50px;
    letter-spacing: 0px;
    padding-top: 10px;
    font-size: 32px;
    margin-top: 0px;
}

/*table styling*/
.nope {
    font-weight: bolder;
}
.nope:hover {
    background: hsla(0, 80%, 45%, 1);
    color: #fff;
    border-radius: 5px;
}
.yep {
    font-weight: bold;   
}
.yep:hover {
    background: hsla(120, 100%, 25%, .7);
    color: #fff;
    border-radius: 5px;
}
.progress {
  text-decoration: none;
  background-position: 0 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, hsla(120, 100%, 25%, .7) 50%);
  transition: background-position 0.5s ease-out 0s;
  background-size: 200.22% auto;
  font-weight: bold;   
}
.progress:hover {
    background-position: -30% 0;
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, hsla(120, 100%, 25%, .7) 50%);*/
    /*background-image: linear-gradient(to right, hsla(120, 5%, 80%, .25) 50%, hsla(120, 100%, 25%, .7) 50%);*/
    background-image: linear-gradient(to right, hsla(240, 50%, 80%, .25) 50%, hsla(120, 100%, 25%, .7) 50%);
}

/*filter table styling*/
* {
  box-sizing: border-box;
}

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
#myInput {
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  border-radius: 5px; 
  margin-bottom: 12px;

  display: block;
  /*width: 85%;*/
  margin-right: auto;
  margin-left: auto;
  font-family: FontAwesome;
}
#myTable {
  border-collapse: collapse;
  width: 90%;
  border: none;
}
#myTable th, #myTable td {
  text-align: center;
  border: none;
}
/*#myTable tr:hover:not(.header) {
  background-color: hsla(240, 50%, 80%, .1);
}*/
